rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /members/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;
    }
  }
}
